* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav {
    background: #1f2937;
    height: 60px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav h1 {
    font-size: 20px;
    color: white;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 15px;
}

.nav a:hover {
    color: yellow;
}

body div {
    border: 3px red solid;
}