* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

.nav {
    background: #1f2937;
    height: 60px;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav h1 {
    font-size: 20px;
    color: white;
}

.nav ul {
    display: flex;
    list-style-type: none;
}

.nav ul a {
    text-decoration: none;
    color: #E5E7EB;
    margin-left: 15px;
}

.nav a:hover {
    color: #f4b81c;
}

.header {
    background-color: #1f2937;
    height: 600px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 50px;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin-bottom: 40px;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 40px;
}

.left-part {
    max-width: 400px;
    flex-shrink: 0;
}

.header img {
    max-width: 600px;
    margin-right: -40px;
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
}

.button a {
    text-decoration: none;
}

.button span {
    color: white;
    background-color: #3882F6;
    padding: 10px 40px;
    border-radius: 25px;
}

.button span:hover {
    background-color: #f4b81c;
    color: #1f2937;
}

.header img:hover {
    filter: drop-shadow(0px 0px 7px rgb(255, 255, 255));
}